In [2]:
#List of High Schools
high_schools=['Hernandez High School', 'Figueroa High School', 
             'Wilson High School', 'Wright High School']
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
for schooltypes in high_school_types:
    print(schooltypes)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
#Add the Pandas dependency
import pandas as pd

In [7]:
school_series = pd.Series(high_schools)

In [8]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [15]:
#A dictionary of high schools
high_school_dicts = [{"School_ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School_ID": 1, "school_name": "Figeroa High School", "type": "District"},
                    {"School_ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School_ID": 3, "school_name": "Hernndez High School", "type": "District"},
                    {"School_ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [16]:
school_df = pd.DataFrame(high_school_dicts)

In [17]:
school_df

   School_ID           school_name      type
0          0     Huang High School  District
1          1   Figeroa High School  District
2          2   Shelton High School   Charter
3          3  Hernndez High School  District
4          4   Griffin High School   Charter

In [18]:
#Three seperate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [19]:
#Initialize a new DataFrame. 
schools_df = pd.DataFrame()

In [21]:
#Add the list to a new DataFrame
schools_df["School_ID"] = school_id

In [23]:
#print the DataFrame
schools_df

   School_ID
0          0
1          1
2          2
3          3
4          4

In [27]:
schools_df["school_name"] = school_name

In [28]:
schools_df

   School_ID            school_name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [29]:
schools_df["Type"] = type_of_school

In [40]:
schools_df

   School_ID            school_name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
#create a dictionary of information on high schools
high_schools_dict2 = {"School_ID": school_id, "School_name": school_name, "type": type_of_school}

In [35]:
high_schools_dict_df = pd.DataFrame(high_schools_dict2)

In [36]:
high_schools_dict_df

   School_ID            School_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [46]:
schools_df.columns

Index(['School_ID', 'school_name', 'Type'], dtype='object')

In [47]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [48]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [49]:
skill_df = pd.DataFrame()

In [50]:
school_ID2 = [ 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [51]:
school_name2 = ["huang high school", "figueroa high school", "shelton high shcool", "hernandez high school", "griffin high school", "wilson high school", "cabrera high school", "bailey high school", "holden high school", "pena high school", "wright high school", "rodriguez high school" ,"johnson high school", "ford high school", "thomas high school"]

In [57]:
skill_type = ["district", "district", "charter", "district", "charter", "charter", "charter", "district", "charter", "charter", "charter", "district", "district", "district", "charter"]

In [53]:
skill_df["School ID"] = school_ID2

In [54]:
skill_df["school_name"] = school_name2

In [58]:
skill_df["type"] = skill_type

In [59]:
skill_df

    School ID            school_name      type
0           0      huang high school  district
1           1   figueroa high school  district
2           2    shelton high shcool   charter
3           3  hernandez high school  district
4           4    griffin high school   charter
5           5     wilson high school   charter
6           6    cabrera high school   charter
7           7     bailey high school  district
8           8     holden high school   charter
9           9       pena high school   charter
10         10     wright high school   charter
11         11  rodriguez high school  district
12         12    johnson high school  district
13         13       ford high school  district
14         14     thomas high school   charter